<ion-view view-title="Dashboard">
  <ion-content class="padding">
  	<div ng-hide="Ver">
    	<button class="button button-full button-calm" ng-bind="preguntas" ng-disabled="true">
    	</button>
    	<br>
	    <button class="button button-full button-positive" id="uno"  ng-click="Respuesta('a')" ng-disabled="eligio"  ng-hide="finPartida">{{respuesta.op1}}
	    </button>
	    <button class="button button-full button-positive" id="dos" ng-click="Respuesta('b')" ng-disabled="eligio"  ng-hide="finPartida">{{respuesta.op2}}
	    </button>
	    <button class="button button-full button-positive" id="tres" ng-click="Respuesta('c')" ng-disabled="eligio"  ng-hide="finPartida">{{respuesta.op3}}
	    </button>
	    <button class="button button-full button-positive" id="cuatro" ng-click="Respuesta('d')" ng-disabled="eligio"  ng-hide="finPartida">{{respuesta.op4}}
	    </button>
	    <br>
	    <button class="button button-full button-dark" ng-click="CargarPregunta()" ng-disabled="(eligio != true)">Siguiente Pregunta </button>
	</div>
  </ion-content>
</ion-view>
