<ion-view view-title="Datos de Autor">
  <ion-content>
    <ion-list>
        </div>
        <div class="card">
          <div class="item item-divider">
           	Autor
            <i class="icon ion-person"></i>
          </div>
          <div class="item item-text-wrap">
            Federico German Peralta
          </div>
          <div class="item item-divider">
           	Git Hub
            <i class="icon ion-social-github"></i>
          </div>
          <div class="item item-text-wrap">
            <a href="https://github.com/fepe15" >https://github.com/fepe15</a>
          </div>
          <div class="item item-divider">
            Email
            <i class="icon ion-ios-email"></i>
          </div>
          <div class="item item-text-wrap">
            <a>fedegperalta@gmail.com</a>
          </div>
        </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
